
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap');

:root{
    --grey:#E1E5EE;
    --darkblue:#2A324B;
    --greyblue:#58699D;
    --white:#ffff;

    --font:"Montserrat", sans-serif;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

 background-color:var(--grey);
 font-family: var(--font);
}



#container{
    width: 100%;
    max-width: 1200px;
    margin: 10rem auto 0 auto;
    background-color: var(--white);
    height: 400px;
}
    

nav {
    background-color: var(--grey);
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center; 
}

nav ul li {
    flex-grow: 1;
    text-align: center;
}

nav a{
     display: block;
     padding: 1.5rem 2.5rem;
     background-color: var(--darkblue);
     color: var(--white);
     text-decoration: none;
     font-weight: bold;
}

nav a:hover, .navtab.active {
    background-color: var(--white);
    color: var(--darkblue);
}

main{
    padding-top: 0;
}


#overskrift {
    padding-top: 5rem;
    color: var(--darkblue);
    padding-left: 6rem;
    padding-bottom: 1rem;
}

p {
    
    padding-left: 4rem;
    margin: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}

#kategoriliste{
    padding-left: 9rem;
    padding-top: 1rem;
}


#kategoriliste li a {
    color: var(--greyblue);
}


